<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>❤️❤️김규영 교수님❤️❤️</title>
    <link rel="stylesheet" href="../public/css/letters.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="one">
            <div id="first">
                <p></p>
                <img class="postit" src="../public/images/postit.png" alt="postit"></img>
            </div>
            <div id="second">
                <p></p>
                <img class="postit" src="../public/images/postit.png" alt="postit"></img>
            </div>
        </div>
        <div class="two">
            <div id="third">
                <p></p>
                <img class="postit" src="../public/images/LJHletter.jpg" alt="postit">
            </div>
            <div id="fourth">
                <p></p>
                <img class="postit" src="../public/images/postit.png" alt="postit"></img>
            </div>
        </div>
        <div class="footer">
            <p>김규영 교수님 감사합니다!!</p>
            <p>-NSLab 방지윤, 송유진, 이지현, 황지수 올림-</p>
        </div>
    </div>
</body>
</html>