<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>❤️❤️김규영 교수님❤️❤️</title>
    <link rel="stylesheet" href="../public/css/letters.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="one">
            <div id="first">
                <p>
                    안녕하세요 김규영 교수님! <br>
                    이번에 학부연구생으로 참여하게 된 컴퓨터공학과 송유진입니다. <br>
                    <br>
                    친구들의 좋은 의견 덕분에, 스승의 날을 기념해서 <br>
                    이렇게 웹페이지를 만들어 교수님께 편지를 쓰게 되었습니다! <br>
                    <br>
                    우선, 학부연구생으로 받아주셔서 정말 감사드립니다. <br>
                    이 경험을 통해, 제 진로를 확실히 정하는 <br>
                    좋은 기회가 될 것 같아 기쁩니다! <br>
                    아직 부족한 부분이 많은 만큼 정말 열심히 하겠습니다!!br
                    <br>
                    시스템 프로그래밍 강의에서도, 항상 열정적으로 수업해주시고, <br>
                    칭찬도 많이 해주셔서 감사합니다! <br>
                    <br>
                    금요일에 서버를 직접 보고, 다양한 체험도 <br>
                    할 수 있어서 너무 재밌었습니다!! <br>
                    앞으로도 교수님께 많은 걸 배우고 싶습니다! 감사합니다!! <br> <br>
                    -송유진 올림-
                </p>
                <img class="postit" src="../public/images/postit.png" alt="postit"></img>
            </div>
            <div id="second">
                <p>
                    안녕하세요 교수님. <br>
                    이번에 학부연구생으로 참가하게 된 컴퓨터공학과 황지수입니다. <br> <br>
                    스승의 날을 기념하여 지윤이의 아이디어로 웹 페이지로 <br>
                    교수님께 감사의 말씀을 드릴 수 있게 되어 좋습니다. <br>
                    먼저 학부 연구생으로 2명 정도만 선발하실 예정이라고 <br>
                    말씀하셨던 것과 다르게 신청한 네 명 모두 받아주셔서 감사합니다. <br> 
                    처음에는 호기심에 상담 신청을 한 것이었지만 <br>
                    교수님과 상담하면서 관심 분야인지 아닌지 알게 되는 것도 <br>
                    하나의 공부가 될 수 있음을 깨달았습니다. <br>
                    그래서 저에게 있어 의미있는 8개월이 될 것 같아서 
                    <br> 기대도 되고 긴장도 됩니다. <br> <br>
                    아직 부족한 점도 많고 모르는 것도 많지만 학부연구생으로 활동하며 <br>
                    열심히 공부하면서 모두에게 의미가 있는 성과를 낼 수 있도록 
                    <br> 노력하겠습니다. <br> <br> 
                    시스템 프로그래밍 강의도 너무 재미있게 잘 알려주셔서 <br>
                    공부하는데 지루하지 않은 것 같습니다. <br>
                    지금보다 앞으로 더 열심히 참여하고 질문도 많이 하며 <br>
                    시스템 프로그래밍 강의 끝까지 열심히 듣겠습니다! <br>
                    마지막으로 init 초청 강연도 흔쾌히 허락해주셔서 너무 감사했습니다. <br>
                    교수님의 많은 경험을 저희가 간접적으로 들으면서 <br>
                    저와 같은 고학년 학생들과 더불어 특히나 저학년분들께 정말 도움이 <br>
                    많이 되는 좋은 기회가 될 것임을 확신합니다. <br>
                    이번 학기뿐만 아니라 다음 학기에도 3학년 수업 <br> 
                    많이 맡아주시기를 바라며 항상 건강하세요!! <br>
                    <br> -황지수 올림-
                </p>
                <img class="postit" src="../public/images/postit.png" alt="postit"></img>
            </div>
        </div>
        <div class="two">
            <div id="third">
                <img class="postit" src="../public/images/LJHletter.jpg" alt="postit">
            </div>
            <div id="fourth">
                <p>
                    안녕하세요 김규영 교수님! <br>
                    저는 이번에 학부연구생으로 참가하게 된 방지윤입니다 ㅎㅎ <br>
                    <br>
                    다름이 아니라 스승의 날을 맞아 교수님께 어떻게 감사의 말을 전하면 <br>
                    좋을까 저희끼리 고민하다가 <br>
                    컴퓨터공학과인 저희의 특성을 살려서 <br>    
                    이렇게 웹페이지를 통해 편지를 작성하게 되었습니다! <br>
                    사실 더 멋있게 웹페이지를 제작하고 싶었는데 <br>
                    시간도 부족하고 저희의 능력도 부족해서 ㅎㅎ;; <br>
                    아예 컨셉을 B급 감성으로 잡고 페이지를 구현하게 되었습니다. <br>
                    혹시 웹페이지를 넘기시면서 기분이 나쁘셨다면 죄송합니다. <br>
                    <br>
                    교수님께 학부연구생을 하고 싶다고 메일을 보내고 <br>
                    면담에 오라는 답변을 받았을 때 사실 긴장이 되었습니다. <br>
                    아는 것도 많이 없고 부족한데 어떡하면 좋지? 라는 생각이 들었어요 <br>
                    그런데 면담 때고 그렇고 금요일에 교수님이 연구실에 부르셨을 때도 <br>
                    그렇고 잘 몰라도 교수님께서 괜찮다고 다독여주시면서 <br>
                    친절하게 알려주시는게 많은 격려가 되었습니다. <br>
                    저희를 많이 생각해주시는 것 같아서 너무 감사하고 <br>
                    앞으로 학부연구생으로 활동할 미래가 더욱 기대됩니다. <br> <br>
                    아직 부족한 점도 많고 배울 점도 많은데 뒤쳐지지 않도록 <br>
                    열심히 노력하고 배우는 방지윤이 되겠습니다 <br>
                    <br>
                    교수님 강의력이 너무 좋으신데 앞으로 고학년 강의를 많이 맡아주시면 <br>
                    너무 좋을 것 같습니다 ㅎㅎㅎㅎㅎ😅<br>
                    스승의 날 정말 축하드리고 다시 한번 감사하다는 말씀 드리고 싶습니다! <br>
                    <br>
                    -방지윤 올림-</p>
                <img class="postit" src="../public/images/postit.png" alt="postit"></img>
            </div>
        </div>
        <br>
        <div class="footer">
            <p>김규영 교수님 감사합니다!!</p>
            <p>-NSLab 방지윤, 송유진, 이지현, 황지수 올림-</p>
        </div>
    </div>
</body>
</html>