* {
    margin: 0;
    padding: 0;
}

a{
    font-weight: bolder;
}

div.container > div.footer>p{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
}

div.container{
    text-align: center;
}

div.container>div{
    display: inline-block;
}

div#first, #second, #third, #fourth{
    position: relative;
}

div#first>p{
    text-align: justify;
    position: absolute;
    top: 15%;
    left: 15%;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
}


div#second>p{
    text-align: justify;
    position: absolute;
    top: 10%;
    left: 15%;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
}

div#fourth>p{
    text-align: justify;
    position: absolute;
    top: 10%;
    left: 15%;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Nanum Gothic', sans-serif;
}

#second>img.postit{
    width: 480px;
    height: 590px;
}

#fourth>img.postit{
    width: 480px;
    height: 590px;
}

img.postit{
    width: 450px;
    height: 400px;
}

div.container > div{
    margin-top: 20px;
}

img.sketchbook{
    width: 900px;
    height: 600px;
}

div.footer{
    margin-top: 40px;
    display: block;
}


