*{
    margin: 0;
    padding: 0;
}

a{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 25px;
    color: #ffa200;
}

div.container, div.audio{
    text-align: center;
}

@keyframes fadein{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.container>div.wrapped, div.container>a, div.text{
    animation-name: fadein;
    opacity: 0;
    animation-delay: 10s;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div.audio>p{
    font-size: 50px;
    font-family: 'Black Han Sans', sans-serif;

}

div.audio{
    margin-bottom: 30px;
}

div.wrapped{
    display: inline-block;
}

div.container>div>div>div, img.light{
    width: 200px;
    height: 200px;
}

@keyframes bounce{
    from {
        transform: scale(1);
        transition: .1s;
    }
    to {
        transform: scale(1.5);
        transition: .1s;
    }
}


@keyframes rotate{
    100% {
        transform: rotate(360deg);
        transition: 1s;
    }
}

img.light{
    animation: rotate 10s infinite, bounce 0.3s infinite;
    
}

div.first>div, div.second>div, div.third>div{
    display: inline-block;
}

div.img, div.img1{
    display: inline-block;
}

div.second>div>img{
    height: 200px;
}

div.text{
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
}

div.img{
    width: 400px;
    text-align: center;
}

div.img>p{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    
}

div.img>p:first-child{
    animation-name: fadein;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

div.img>p:nth-child(2){
    animation-name: fadein;
    opacity: 0;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}
div.img>p:nth-child(3), div.img>p:nth-child(4), div.img>img{
    animation-name: fadein;
    opacity: 0;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

